body {
    display: block;
    margin: 0px;
}

.lightswitch {
    display: none;
}

.main {
    width: 100%;
    height: 100%;
}

.square {
    width: 100vw;
    height: 100vh;
    max-height: 100vw;
    max-width: 100vh;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    /* vertical center */
    left: 0;
    right: 0;
    /* horizontal center */
}

.outer_face {
    position: relative;
    width: 100%;
    /* width of clock */
    height: 100%;
    /* height of clock */
    border-radius: 100%;
    /* clock round corner radius */
    box-shadow: inset 0 0 10px gray;
    border: 0 solid gray;
    /* thickness of outer border */
}

.outer_face::before,
.outer_face::after,
.outer_face .marker {
    /* time markers syle: 12,6 */
    content: "";
    position: absolute;
    width: 3%;
    /* width of 12-6 and 3-9 markers */
    height: 100%;
    background: black;
    z-index: 0;
    left: 50%;
    margin-left: -1.5%;
    /* set this value of 1/2 marker width */
    top: 0
}


/* the minutes markers for 3,9 */

.outer_face::after {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}


/* the minutes markers, except for 12,3,6,9 */

.outer_face .marker {
    background: gray;
    width: 2%;
    /* width of all other markers */
    margin-left: -1%/* set this value of 1/2 marker width */
}

.outer_face .marker.oneseven {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg)
}

.outer_face .marker.twoeight {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg)
}

.outer_face .marker.fourten {
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.outer_face .marker.fiveeleven {
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg)
}


/* the thing on the top */

.inner_face {
    position: relative;
    width: 88%;
    height: 88%;
    background: white;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    z-index: 1000;
    left: 6%;
    /* set this value of 1/2 width value*/
    top: 6%/* set this value of 1/2 height value*/
}


/* the central part - the glow and the circle */

.inner_face::before {
    /* clock center circle small */
    content: "";
    width: 8%;
    /* width of inner circle */
    height: 8%;
    /* height of inner circle */
    border-radius: 100%;
    margin-left: -4%;
    /* set this value of 1/2 width value*/
    margin-top: -4%;
    /* set this value of 1/2 height value*/
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 30px red;
}

.inner_face::after {
    content: "山吹町";
    position: absolute;
    width: 100%;
    font: normal 2.0em Arial;
    color: gray;
    text-align: center;
    top: 80%;
}

.hand,
.hand.hour {
    position: absolute;
    width: 3%;
    /* width of hour hand */
    height: 30%;
    /* height of hour hand */
    top: 20%;
    /* set top to 50% - height */
    left: 50%;
    margin-left: -1.5%;
    /* set this value to 1/2 width */
    background: black;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    z-index: -1;
    -moz-box-shadow: 0 0 3px gray;
    -webkit-box-shadow: 0 0 3px gray;
    box-shadow: 0 0 3px gray;
}

.hand.minute {
    height: 45%;
    /* height of min hand */
    top: 5%;
    /* set top to 50% - height */
    width: 2%;
    /* width of min hand */
    margin-left: -1%;
    /* set this value to 1/2 width */
}

.hand.second {
    height: 50%;
    /* height of sec hand */
    width: 1%;
    /* width of sec hand */
    margin-left: -0.5%;
    /* set this value to 1/2 width */
    top: 0;
    background: red;
}

input#lightswitch:checked ~ .main,
input#lightswitch:checked ~ .main .square,
input#lightswitch:checked ~ .main .square .outer_face,
input#lightswitch:checked ~ .main .square .inner_face {
    background-color: black;
}

input#lightswitch:checked ~ .main .square .outer_face::before,
input#lightswitch:checked ~ .main .square .outer_face::after,
input#lightswitch:checked ~ .main .square .inner_face::before,
input#lightswitch:checked ~ .main .square .hand.minute,
input#lightswitch:checked ~ .main .square .hand.hour {
    background-color: white;
}