body {
  cursor: pointer;
  overflow: hidden; }

#sun {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(bottom, circle, #f2f8f7 0%, #f9f91c 3%, #f7d62e 8%, #f8c85f 12%, #c9a584 30%, #738285 51%, #2e617a 85%, #184b6a 100%);
  background: -moz-radial-gradient(bottom, circle, #f2f8f7 0%, #f9f91c 3%, #f7d62e 8%, #f8c85f 12%, #c9a584 30%, #738285 51%, #2e617a 85%, #184b6a 100%);
  background: -ms-radial-gradient(bottom, circle, #f2f8f7 0%, #f9f91c 3%, #f7d62e 8%, #f8c85f 12%, #c9a584 30%, #738285 51%, #2e617a 85%, #184b6a 100%);
  z-index: 10;
  opacity: 0.5; }

#sunDay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(bottom, circle, rgba(252, 255, 251, 0.9) 0%, rgba(253, 250, 219, 0.4) 30%, rgba(226, 219, 197, 0.01) 70%, rgba(226, 219, 197, 0) 70%, rgba(201, 165, 132, 0) 100%);
  background: -moz-radial-gradient(bottom, circle, rgba(252, 255, 251, 0.9) 0%, rgba(253, 250, 219, 0.4) 30%, rgba(226, 219, 197, 0.01) 70%, rgba(226, 219, 197, 0) 70%, rgba(201, 165, 132, 0) 100%);
  background: -ms-radial-gradient(bottom, circle, rgba(252, 255, 251, 0.9) 0%, rgba(253, 250, 219, 0.4) 30%, rgba(226, 219, 197, 0.01) 70%, rgba(226, 219, 197, 0) 70%, rgba(201, 165, 132, 0) 100%);
  z-index: 999;
  opacity: 0.5; }

#sunSet {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(bottom, circle, rgba(254, 255, 255, 0.8) 5%, #ecff00 10%, #fd3229 25%, #f30000 40%, #5d0000 100%);
  background: -moz-radial-gradient(bottom, circle, rgba(254, 255, 255, 0.8) 5%, #ecff00 10%, #fd3229 25%, #f30000 40%, #5d0000 100%);
  background: -ms-radial-gradient(bottom, circle, rgba(254, 255, 255, 0.8) 5%, #ecff00 10%, #fd3229 25%, #f30000 40%, #5d0000 100%);
  z-index: 999;
  opacity: 0.3; }

#sky {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 5;
  background: -webkit-linear-gradient(bottom, #f9fbf0 10%, #d7fdfe 20%, #a7defd 40%, #6eafff 100%);
  background: -moz-linear-gradient(bottom, #f9fbf0 10%, #d7fdfe 20%, #a7defd 40%, #6eafff 100%);
  background: -ms-linear-gradient(bottom, #f9fbf0 10%, #d7fdfe 20%, #a7defd 40%, #6eafff 100%);
  opacity: 0.52; }

#horizon {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  z-index: 5;
  background: -webkit-linear-gradient(bottom, rgba(212, 87, 43, 0.9) 0%, rgba(246, 149, 52, 0.8) 20%, rgba(24, 75, 106, 0) 100%);
  background: -moz-linear-gradient(bottom, rgba(212, 87, 43, 0.9) 0%, rgba(246, 149, 52, 0.8) 20%, rgba(24, 75, 106, 0) 100%);
  background: -ms-linear-gradient(bottom, rgba(212, 87, 43, 0.9) 0%, rgba(246, 149, 52, 0.8) 20%, rgba(24, 75, 106, 0) 100%);
  opacity: 0.99; }

#horizonNight {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  z-index: 10000;
  background: -webkit-linear-gradient(bottom, #39a7ff 0%, #0d62f5 20%, rgba(0, 11, 22, 0.1) 60%);
  background: -moz-linear-gradient(bottom, #39a7ff 0%, #0d62f5 20%, rgba(0, 11, 22, 0.1) 60%);
  background: -ms-linear-gradient(bottom, #39a7ff 0%, #0d62f5 20%, rgba(0, 11, 22, 0.1) 60%);
  opacity: 0; }

#moon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(40% 55%, circle, #08314e 1%, #081a38 10%, #04102e 40%, #02080d 70%);
  background: -moz-radial-gradient(40% 55%, circle, #08314e 1%, #081a38 10%, #04102e 40%, #02080d 70%);
  background: -ms-radial-gradient(40% 55%, circle, #08314e 1%, #081a38 10%, #04102e 40%, #02080d 70%);
  z-index: 10001;
  opacity: 0; }

#water {
  overflow: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(bottom, #00192d 0%, #0e4775 35%, #1a7eae 70%, #3ea8dc 100%);
  background: -moz-linear-gradient(bottom, #00192d 0%, #0e4775 35%, #1a7eae 70%, #3ea8dc 100%);
  background: -ms-linear-gradient(bottom, #00192d 0%, #0e4775 35%, #1a7eae 70%, #3ea8dc 100%);
  z-index: 10; }

#waterReflectionContainer {
  -webkit-perspective: 30;
  perspective: 30;
  -webkit-perspective-origin: 50% -12%;
  perspective-origin: 50% -12%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: -3%;
  width: 103%;
  height: 50%;
  z-index: 25; }

#waterReflectionMiddle {
  position: absolute;
  top: 0px;
  left: -50%;
  width: 200%;
  height: 55%;
  background-repeat: no-repeat;
  background: -webkit-radial-gradient(50% 0px, #f7b148 3%, #f8af41 6%, rgba(207, 62, 30, 0.4) 35%, rgba(176, 91, 48, 0.1) 45%, rgba(141, 88, 47, 0) 60%, rgba(116, 82, 63, 0) 70%, rgba(44, 65, 68, 0) 80%, rgba(7, 19, 31, 0) 100%);
  background: -moz-radial-gradient(50% 0px, #f7b148 3%, #f8af41 6%, rgba(207, 62, 30, 0.4) 35%, rgba(176, 91, 48, 0.1) 45%, rgba(141, 88, 47, 0) 60%, rgba(116, 82, 63, 0) 70%, rgba(44, 65, 68, 0) 80%, rgba(7, 19, 31, 0) 100%);
  background: -ms-radial-gradient(50% 0px, #f7b148 3%, #f8af41 6%, rgba(207, 62, 30, 0.4) 35%, rgba(176, 91, 48, 0.1) 45%, rgba(141, 88, 47, 0) 60%, rgba(116, 82, 63, 0) 70%, rgba(44, 65, 68, 0) 80%, rgba(7, 19, 31, 0) 100%);
  z-index: 999;
  opacity: 0.7;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  transform: rotateX(45deg); }

#waterDistance {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.2) 44%, rgba(0, 0, 0, 0.65) 95%, rgba(0, 0, 0, 0.62) 100%);
  background: -moz-linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.2) 44%, rgba(0, 0, 0, 0.65) 95%, rgba(0, 0, 0, 0.62) 100%);
  background: -ms-linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.2) 44%, rgba(0, 0, 0, 0.65) 95%, rgba(0, 0, 0, 0.62) 100%);
  z-index: 20; }

#darknessOverlaySky {
  background-color: #000;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 9999; }

#darknessOverlay {
  cursor: default;
  background-color: #000;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: 99; }

#oceanRipple {
  background-image: repeating-linear-gradient(175deg, rgba(165, 165, 165, 0.08) 43%, rgba(175, 175, 175, 0.08) 45%, rgba(235, 235, 235, 0.08) 49%, rgba(195, 195, 195, 0.08) 50%, rgba(165, 165, 165, 0.08) 54%);
  opacity: 0.5;
  position: absolute;
  left: 0%;
  bottom: 0px;
  width: 100%;
  height: 50%;
  z-index: 10; }
