$padding: 6px;
body {
    cursor: pointer;
    overflow: hidden;
    background-color: black;
}

$skyHeight: 75%;
@mixin background-radial-gradient($gradient) {
    background: -webkit-radial-gradient($gradient);
    background: -moz-radial-gradient($gradient);
    background: -ms-radial-gradient($gradient);
}

@mixin background-linear-gradient($gradient) {
    background: -webkit-linear-gradient($gradient);
    background: -moz-linear-gradient($gradient);
    background: -ms-linear-gradient($gradient);
}

@mixin background-image-repeating-linear-gradient($gradient) {
    background-image: repeating-linear-gradient($gradient);
}

@mixin rotateX($angle) {
    -webkit-transform: rotateX($angle);
    -moz-transform: rotateX($angle);
    -ms-transform: rotateX($angle);
    transform: rotateX($angle);
}

// Sun layer has height of 50%, renders a YELLOW radial gradient at the center, with opacity of 0.5
// It's transparent in the noon, keeps 50% opaque during the day and evening, becomes almost transparent after 10
$sun: bottom,
circle,
rgba(242, 248, 247, 1) 0%,
rgba(249, 249, 28, 1) 3%,
rgba(247, 214, 46, 1) 8%,
rgba(248, 200, 95, 1) 12%,
rgba(201, 165, 132, 1) 30%,
rgba(115, 130, 133, 1) 51%,
rgba(46, 97, 122, 1) 85%,
rgba(24, 75, 106, 1) 100%;
#sun {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    @include background-radial-gradient($sun);
    z-index: 10;
    opacity: 0.5;
}

// Similar to the sun - a GRAY radial gradient, opaque in the noon, transparent in the midnight
$sunDay: bottom,
circle,
rgba(252, 255, 251, 0.9) 0%,
rgba(253, 250, 219, 0.4) 30%,
rgba(226, 219, 197, 0.01) 70%,
rgba(226, 219, 197, 0.0) 70%,
rgba(201, 165, 132, 0) 100%;
#sunDay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    @include background-radial-gradient($sunDay);
    z-index: 999;
    opacity: 0.5;
}

// Similar - the REDDISH radial gradient, transparent when the sun is high, almost opaque in the evening
$sunset: bottom,
circle,
rgba(254, 255, 255, 0.8) 5%,
rgba(236, 255, 0, 1) 10%,
rgba(253, 50, 41, 1) 25%,
rgba(243, 0, 0, 1) 40%,
rgba(93, 0, 0, 1) 100%;
#sunSet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    @include background-radial-gradient($sunset);
    z-index: 999;
    opacity: 0.3;
}

// The BLUEISH linear gradient, opaque in the mid-day, 50% at the sunset, vanishes in the night
$sky: bottom,
rgba(249, 251, 240, 1) 10%,
rgba(215, 253, 254, 1) 20%,
rgba(167, 222, 253, 1) 40%,
rgba(110, 175, 255, 1) 100%;
#sky {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $skyHeight;
    z-index: 5;
    @include background-linear-gradient($sky);
    opacity: 0.52;
}

// A YELLOWISH linear gradient, opaque at the sunset, disappearing the mid-day/night
$horizon:bottom,
rgba(212, 87, 43, 0.9) 0%,
rgba(246, 149, 52, 0.8) 20%,
rgba(24, 75, 106, 0) 100%;
#horizon {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    z-index: 5;
    @include background-linear-gradient($horizon);
    opacity: 0.99;
}

// BLUE linear gradient, non-transparent only after ~10 in the night 
$horizonNight: bottom,
rgba(57, 167, 255, 1) 0%,
rgba(13, 98, 245, 1) 20%,
rgba(0, 11, 22, 0.1) 60%;
// A layer above the horizon, another one
#horizonNight {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    z-index: 10000;
    @include background-linear-gradient($horizonNight);
    opacity: 0;
}

// STEEL-colored radial gradient, is not visible till ~11 in the night 
$moon: 40% 55%,
circle,
rgba(8, 49, 78, 1) 1%,
rgba(8, 26, 56, 1) 10%,
rgba(4, 16, 46, 1) 40%,
rgba(2, 8, 13, 1) 70%;
#moon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $skyHeight;
    background-repeat: no-repeat;
    @include background-radial-gradient($moon);
    z-index: 10001;
    opacity: 0;
}

// A static BLUE linear gradient
$water: bottom,
rgba(0, 25, 45, 1) 0%,
rgba(14, 71, 117, 1) 35%,
rgba(26, 126, 174, 1) 70%,
rgba(62, 168, 220, 1) 100%;
#water {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%-$skyHeight;
    background-repeat: no-repeat;
    @include background-linear-gradient($water);
    z-index: 10;
}

// Something to do with the perspectiveOrigin, not sure how
#waterReflectionContainer {
    -webkit-perspective: 30;
    perspective: 30;
    -webkit-perspective-origin: $skyHeight -12%;
    perspective-origin: $skyHeight -12%;
    overflow: hidden;
    position: absolute;
    top: $skyHeight;
    left: -3%;
    width: 103%;
    height: 100%-$skyHeight;
    z-index: 25;
}

// DARK-YELLOWISH radial gradient, only opaque around the sunset
$water: 50% 0px,
rgba(247, 177, 72, 1) 3%,
rgba(248, 175, 65, 1) 6%,
rgba(207, 62, 30, 0.4) 35%,
rgba(176, 91, 48, 0.1) 45%,
rgba(141, 88, 47, 0.0) 60%,
rgba(116, 82, 63, 0.0) 70%,
rgba(44, 65, 68, 0.0) 80%,
rgba(7, 19, 31, 0.0) 100%;
#waterReflectionMiddle {
    position: absolute;
    top: 0px;
    left: -50%;
    width: 200%;
    height: 55%;
    background-repeat: no-repeat;
    @include background-radial-gradient($water);
    z-index: 999;
    opacity: 0.7;
    @include rotateX(45deg);
}

// GRAY liear gradient to make the water look darker at the horizon. Constant in the night, 60% opaque in the noon
$waterDistance:90deg,
rgba(0, 0, 0, 0.0) 10%,
rgba(0, 0, 0, 0.20) 44%,
rgba(0, 0, 0, 0.65) 95%,
rgba(0, 0, 0, 0.62) 100%;
#waterDistance {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%-$skyHeight;
    background-repeat: no-repeat;
    @include background-linear-gradient($waterDistance);
    z-index: 20;
}

// BLACK non-gradient layer above the horizon, transparent till ~8 in the evening, opaque in the midnight 
#darknessOverlaySky {
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: $skyHeight;
    z-index: 9999;
}

// BLACK non-gradient layer below the horizon, transparent till sunset, opaque in the midnight 
#darknessOverlay {
    cursor: default;
    background-color: #000;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%-$skyHeight;
    z-index: 99;
}

// A static, slightly diagonal LIGHT-GRAY periodic lineral gradient 
$oceanRipple: 175deg,
rgba(165, 165, 165, 0.08) 43%,
rgba(175, 175, 175, 0.08) 45%,
rgba(235, 235, 235, 0.08) 49%,
rgba(195, 195, 195, 0.08) 50%,
rgba(165, 165, 165, 0.08) 54%;
#oceanRipple {
    @include background-image-repeating-linear-gradient($oceanRipple);
    opacity: 0.5;
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 100%;
    height: 100%-$skyHeight;
    z-index: 10;
}